<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Aspirant Login</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'aspirant/img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'aspirant/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'aspirant/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'aspirant/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'aspirant/css/style.css' %}" rel="stylesheet">
    <!-- sweeralert cdn link -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        
        function loginvalidation(){
            var email = document.myform.email;
            var password = document.myform.password;
            //var reg = /^(?=.[0-9])(?=.[!@#$%^&])[a-zA-Z0-9!@#$%^&]{5,16}$/; 
            var mailformat = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;
             
            if (email.value.length <= 0){ 
                alert("Please Enter Email"); 
                email.focus(); 
                return false; 
            } 
            if(!email.value.match(mailformat)){ 
                alert("Invalid Email format");   
                email.focus();             
                return false; 
            }
            
            if (password.value.length <= 0) {
                alert("Enter your password");
                password.focus();
                return false;
            } 
            if (password.value.length <8){
                alert('Wrong Password !!!!')
                password.focus()
                return false;
            }
            
                

        }

    </script>
</head>

<body>

  

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="#" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary">UPSC ACADEMY</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'home' %}" class="nav-item nav-link ">Home</a>
                <a href="{% url 'admin-login' %}" class="nav-item nav-link" >Admin</a>
                <a href="{% url 'login' %}" class="nav-item nav-link active">Aspirants</a>
                
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'course' %}" class="nav-item nav-link">Courses</a>
               
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            </div>
            
        </div>
    </nav>
    <!-- Navbar End -->


 <div class="container">
    <img src="{% static 'main/img/5836.jpg' %}" alt="" style="width:500px;height:500px;">
 </div>
    

    <div class="col-sm-6 container ">
        <div class="row" style="float:right ;position:absolute; top:150px;right:200px;">
            
        <div class="card " >
            <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
                <a href="#" class="app-brand-link gap-2">
                
                <h5 class="app-brand-text demo text-body fw-bolder" style="text-transform:capitalize; text-align: center;">Aspirants Login</h5>
                </a>
            </div>
            <!-- /Logo -->
            

       

            <form id="formAuthentication" name="myform" class="mb-3" action="{% url 'login' %}" method="POST" onsubmit="return loginvalidation()">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="email" class="form-label">Email </label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                    
                  />
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label>
                    
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="pass"
                      class="form-control"
                      name="password"
                      placeholder="Enter your password"
                      aria-describedby="password"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember-me" />
                    <label class="form-check-label" for="remember-me"> Remember Me </label>
                  </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100 py-2" type="submit" name="submit">LOGIN</button>
                </div>
              </form>

              <p class="text-center">
                <span>New Aspirant ?</span>
                <a href="{% url 'register' %}">
                  <span>Create an account</span>
                </a>
              </p>
            </div>
        </div>
    </div>
    </div>


    {% if messages %}              
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <script>swal({
              title: "Warning!",
              text: "{{message}}",
              icon: "warning",
              button: "OK",
            });
          </script>
         
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <script>swal({
              title: "Info :)",
              text: "{{message}}",
              icon: "info",
              button: "OK",
            });
 </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <script>swal({
    title: "Error :)",
    text: "{{message}}",
    icon: "eroor",
    button: "OK",
  });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>swal({
  title: "Success :)",
  text: "{{message}}",
  icon: "success",
  button: "OK",
});
</script>
        {% endif %}              
      {% endfor %} 
     {% endif %}


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn " data-wow-delay="0.1s">
      <div class="container py-5">
          <div class="row g-5 justify-content-center">
              <div class="col-lg-3 col-md-6">
                  <h4 class="text-white mb-3">Quick Link</h4>
                  <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                  <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                  <a class="btn btn-link" href="{% url 'admin-login' %}">Admin</a>
                  <a class="btn btn-link" href="{% url 'login' %}">Aspirants</a>
                  <a class="btn btn-link" href="{% url 'course' %}">Courses</a>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h4 class="text-white mb-3">Contact</h4>
                  <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>LB Nagar, Hyderabad</p>
                  <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 8555887986</p>
                  <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@codebook.in</p>
                  <div class="d-flex pt-2">
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
      
              <div class="col-lg-3 col-md-6">
                  <h4 class="text-white mb-3">Newsletter</h4>
                  <p>Sign up for Notifications</p>
                  <div class="position-relative mx-auto" style="max-width: 400px;">
                      <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                      <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                  </div>
              </div>
          </div>
      </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">codebook @ 2022</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed Developed By <a class="border-bottom" href="https://www.codebook.in" target='_blank'>codebook</a><br><br>
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'aspirant/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'aspirant/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'aspirant/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'aspirant/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'aspirant/js/main.js' %}"></script>
</body>

</html>