<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>All Aspirants</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'admin/assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/fonts/boxicons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'admin/assets/css/demo.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'admin/assets/css/rating.css' %}" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/assets/css/demo.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'admin/assets/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'admin/assets/js/config.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
      .checked {
        color: orange;
      }
      </style>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="#" class="app-brand-link">
              
              <span class="app-brand-text demo menu-text fw-bolder ms-2 text-uppercase">UPSC Academy</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item active">
              <a href="{% url 'admin-dashbord' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            <!-- Layouts -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Aspirant Management</div>
              </a>

              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'pending-aspirants'%}" class="menu-link">
                    <div data-i18n="Without menu">Pending Aspirants</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'all-aspirants'%}" class="menu-link">
                    <div data-i18n="Without navbar">All Aspirants</div>
                  </a>
                </li>
              </ul>
            </li>

            
            <li class="menu-item ">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">UPSC Material Management</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'add-study-material'%}" class="menu-link">
                    <div data-i18n="Account">Add Study Material</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'manage-study-material' %}" class="menu-link">
                    <div data-i18n="Notifications">Manage study Material</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'add-interview-videos' %}" class="menu-link">
                    <div data-i18n="Connections">Add interview videos</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'manage-interview-videos' %}" class="menu-link">
                    <div data-i18n="Connections">Manage interview videos</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'add-mock-test' %}" class="menu-link">
                    <div data-i18n="Connections">Add mock test</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'manage-mock-test' %}" class="menu-link">
                    <div data-i18n="Connections">manage mock test</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item open">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Authentications">Feedback Management</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item active">
                  <a href="{% url 'sentiment-analysis' %}" class="menu-link">
                    <div data-i18n="Basic">Sentiment Analysis</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'sentiment-analysis-graph'%}" class="menu-link">
                    <div data-i18n="Basic">Sentiment Graph</div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
      
                <!-- User -->
                <a href="{% url 'log-out' %}"><button class="btn btn-primary">Log Out</button></a>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4> -->

              

              <!-- Bootstrap Dark Table -->
            <div data-bs-spy="scroll" class="scrollspy-example" tabindex="0">
              <div class="card">
                <h5 class="card-header">All Aspirants</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        
                        <th>ID</th>
                        <th>Name</th>
                        <th>Profile</th>
                        <th>Comment</th>
                        <th>Rating for  materiala</th>
                        <th>Rating for videos</th>
                        <th>Rating for Mock test</th>
                       
                        <th>Analysis</th>
                        <th>Emoji</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      {% for i in feedback %}
                      
                      
                      <tr>
                        <!-- {% comment %} <td>{{i.aspirant_id}}</td> {% endcomment %} -->
                        <td>{{i.feadback_id}}</td>
                        <td>{{i.aspirant.full_Name}}</td>
                       
                        <td><img src="/media/{{i.aspirant.profile}}" style="width: 50px;height:50px;border-radius: 50%;"></td>
                       
                        <td>
                          <textarea  name="" id="" cols="35" rows="4">{{i.feedback_message}}</textarea>
                      </td>
                          <td>
                            {% if i.rating1 == 1 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if i.rating1 == 2 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if i.rating1 == 3 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if i.rating1 == 4 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if i.rating1 == 5 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            {% endif %}
                        </td>    
                        
                        <td>
                          {% if i.rating2 == 1 %}
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          {% endif %}
                          {% if i.rating2 == 2 %}
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          {% endif %}
                          {% if i.rating2 == 3 %}
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          {% endif %}
                          {% if i.rating2 == 4 %}
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          {% endif %}
                          {% if i.rating2 == 5 %}
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          {% endif %}
                      </td> 

                      <td>
                        {% if i.rating3 == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% endif %}
                        {% if i.rating3 == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% endif %}
                        {% if i.rating3 == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% endif %}
                        {% if i.rating3 == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        {% endif %}
                        {% if i.rating3 == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                    </td> 
                        <td>{{i.feedback_sentiment}}</td>
                       
                        {% if i.feedback_sentiment == "very Negative" %}
                        <td><img src="{%static 'aspirant/img/very_negetive.png' %}" alt="image"  style="width: 50px;border-radius: 50%;"></td>
                        {% endif %}
                        {% if i.feedback_sentiment == "Negative" %}
                        <td><img src="{%static 'aspirant/img/Negetive.png' %}" alt="image" style="width: 50px;border-radius: 50%;"></td>
                        {% endif %}
                        {% if i.feedback_sentiment == "very Positive" %}
                        <td><img src="{%static 'aspirant/img/very_positive.png' %}" alt="image" style="width: 50px;border-radius: 50%;"></td>
                        {% endif %}

                        {% if i.feedback_sentiment == "Positive" %}
                        <td><img src="{%static 'aspirant/img/positive.png' %}" alt="image" style="width: 50px;border-radius: 50%;"></td>
                        {% endif %}
                        {% if i.feedback_sentiment == "Neutral"  %}
                        <td><img src="{%static 'aspirant/img/Nutral.png' %}" alt="image" style="width: 50px;border-radius: 50%;"></td>
                        {% endif %}
                        
                        
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                
                </div>
              </div>
            </div>
          </div>

          <nav aria-label="Page navigation example">
            <ul class="pagination ml-2">
                {% if feedback.has_previous %}
                    <!-- <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li> -->
                    <li class="page-item"><a class="page-link bg-info text-white" href="?page={{ feedback.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if feedback.has_next %}
                <li class="page-item"><a class="page-link bg-info text-white" href="?page={{ feedback.next_page_number }}">Next</a></li>
                <!-- <li class="page-item"><a class="page-link" href="?page={{ r.paginator.num_pages }}">Last &raquo;</a></li> -->
                {% endif %}
            </ul>
            Page {{ feedback.number }} of {{ feedback.paginator.num_pages }}.
          </nav>
            <!-- / Content -->
            {% if messages %}              
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                      <script>swal({
                        title: "Warning!",
                        text: "{{message}}",
                        icon: "warning",
                        button: "OK",
                      });
                    </script>
                   
                  {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                      <script>swal({
                        title: "Info :)",
                        text: "{{message}}",
                        icon: "info",
                        button: "OK",
                      });
            </script>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <script>swal({
              title: "Error :)",
              text: "{{message}}",
              icon: "error",
              button: "OK",
            });
            </script>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <script>swal({
            title: "Success :)",
            text: "{{message}}",
            icon: "success",
            button: "OK",
            });
            </script>
                  {% endif %}              
                {% endfor %} 
               {% endif %}
            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  © codebook @
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  
                  Designed and Developed By <a class="border-bottom" href="https://www.codebook.in" target="_blank">CodeBook</a><br><br>
                </div>
                
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

  

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'admin/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'admin/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'admin/assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="{% static 'admin/assets/js/main.js' %}"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
